.inner {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 24px;
    color: #00277e;
}

.header-nav ul {
    display: flex;
    font-weight: bold;
    color: #00277e;
}

.header-nav li {
    margin-left: 20px;
}

.main {
    position: relative;
}

.smiley {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    position: absolute;
    top: 245px;
}

.bluebox {
    background-color: #00277e;
    width: 900px;
    height: 200px;
    position: absolute;
    top: 300px;
    z-index: 0;
}

.firstview-img {
    width: 700px;
    height: 400px;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 10;
}